.chat-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.header {
    font-size: 1.5rem;
}

.header img {
    width: 7rem;
    height: 7rem;
    border-radius: 3.5rem;
    object-fit: cover;
}

.chat-messages {
    color: #fff;
    background-color: rgba(32, 0, 79, 0.5);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
}

.chat-input {
    background-color: rgba(32, 0, 79, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
}

.companion-msg {
    margin-right: 50%;
}

.my-msg {
    margin-left: 50%;
}