.container {
    display: flex;
    max-width: 100%;
}

.sidebar {
    background-color: #20004f;
    color: #ffffff;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.sidebar-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

p.login {
    cursor: pointer;
    font-size: 1.3rem;
}

.sidebar-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-menu button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.main {
    background-color: #300078;
    width: 90vw;
    height: 100vh;
}