.searchContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.user {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.user img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.send-request-btn, .write-btn {
    border: 1px solid #fff;
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease;
}

.send-request-btn:hover, .write-btn:hover {
    background-color: #fff;
    color: #bfbdbd;
}