.friends-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.friend {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.friend img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.chat-with-friend {
    border: 1px solid #fff;
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease;
}

.chat-with-friend:hover {
    background-color: #fff;
    color: #bfbdbd;
}