.friends-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.friend {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.friend img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}