.friends-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 1rem;
}

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.counter {
    background-color: #141414;
    color: #FFE800;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    width: 10rem;
    font-size: 1.7rem;
    height: 5rem;
}

.input {
  width: 100%;
  max-width: 400px;

  padding: 12px 14px;
  font-size: 16px;

  border-radius: 8px;
  border: none;
  outline: none;


  transition: box-shadow 0.25s ease, background-color 0.25s ease;
}

.input:focus {
  box-shadow:
    0 0 0 2px rgba(166, 151, 0, 0.65),   /* тонкий контур */
    0 8px 24px rgba(166, 151, 0, 0.65), /* мягкая тень */
    0 0 40px rgba(166, 151, 0, 0.75);
}

.friends-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.friend {
    color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #141414;
    width: 15rem;
    height: 15rem;
}

.avatar {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 1rem;
}

.friend button {
    background-color: #141414;
    border: none;
    color: #FFE800;
    width: 10rem;
    height: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: font-size 0.2s ease, color 0.5s ease, border-radius 0.5s ease;
}

.friend button:hover {
    color: #fff;
    font-size: 0.9rem;
    border-radius: 0;
}

/* ========================= */
/* 📱 TABLET (≤1024px) */
/* ========================= */
@media (max-width: 1290px) {
  .friends-list {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .counter {
    width: 9rem;
    height: 4.5rem;
    font-size: 1.5rem;
  }

  .avatar {
    width: 7rem;
    height: 7rem;
  }

  .friend button {
    width: 9rem;
  }
}

/* ========================= */
/* 📱 MOBILE (≤768px) */
/* ========================= */
@media (max-width: 768px) {
  .friends-container {
    gap: 3rem;
    padding: 0 1rem;
  }

  .container-search {
    gap: 1rem;
  }

  .friends-list {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .counter {
    width: 100%;
    height: 4rem;
    font-size: 1.4rem;
  }

  .avatar {
    width: 6.5rem;
    height: 6.5rem;
  }

  .friend button {
    width: 80%;
    height: 2rem;
    font-size: 0.9rem;
  }

  .counter-search input {
    width: 100%;
  }
}

/* ========================= */
/* 📱 SMALL MOBILE (≤480px) */
/* ========================= */
@media (max-width: 480px) {

  .avatar {
    width: 6rem;
    height: 6rem;
  }

  .friend button {
    font-size: 0.85rem;
  }
}
