.Chats-container {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p, h1 {
    color: #fff;
}

.companion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.logo-companion {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1rem;
}
